<!doctype html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/main :: head}"> </head>

<body class="font-inter antialiased bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-400">

  <!-- Controlador condicional JS de la expansion del sidebar -->
  <script>
    if (localStorage.getItem("sidebar-expanded") === "true") {
      document.body.classList.add("sidebar-expanded");
    } else {
      document.body.classList.remove("sidebar-expanded");
    }
  </script>

  <div class="flex h-[100dvh] overflow-hidden">
    <!-- Barra de navegacion lateral SIDEBAR, archivo ubicado en templates/sidebar.html -->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"> </th:block>

    <!-- CONTENIDO -->
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
      <th:block th:replace="~{fragments/header :: header}"> </th:block>

      <main class="grow">
        <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
          <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            Dashboard
          </h1>
          <div class="mt-8">
            <th:block th:replace="~{fragments/dashboard/cards :: cards}">
            </th:block>
          </div>
          <div class="mt-6">
            <th:block th:replace="~{fragments/dashboard/recent-maintenance :: recentMaintenance}">
            </th:block>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- JAVASCRIPT -->

  <th:block th:replace="~{layouts/main :: scripts}"> </th:block>
</body>

</html>